<ion-view title="This is Home" hide-nav-bar="true" >
    <ion-pane id="wrapper">
        <background-cycler class="bg-fade"></background-cycler>

        <ion-header-bar id="header" class="bar bar-header bar-clear">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">
                <span class="city"><i id="city-nav-icon" class="icon ion-navigate"></i> {{currentLocationString}}</span><br>
                <current-time localtz="current.minutely.icon"></current-time>
            </h1>
            <button menu-toggle="right" class="button button-icon icon ion-ios7-information-outline"></button>
        </ion-header-bar>

        <ion-content scroll-event-interval="20" scroll-effects scrollbar-y="false" class="no-header">
            <ion-refresher on-refresh="refreshData()"></ion-refresher>
            <img class="logo" ng-src="../icons/hci_logo.png">
            <div class="swipe-cards" ng-controller="WordForTodayCtrl">
                <div class="swipe-card pop-in-start pop-in" ng-show="word1">
                    <div class="title color-white">
                        {{word.description[0].Title}}
                    </div>
                    <div class="image color-white">
                        <p class="ellipsis">{{word.description[0].word}}</p>
                        <span class="small-font italic">{{word.description[0].bible_verse }}</span>
                    </div>
                    <div class="button-bar">
                        <button class="button button-clear button-positive" ng-click="readMore()">{{word.description[0].by}}</button>
                        <button class="button button-clear button-positive" ng-click="readMore()">Read More</button>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>